In [41]:

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


pd.set_option('display.max_columns', None)

In [5]:
df = pd.read_csv("files/world_data_full_apply_nulos.csv", index_col=0)

In [6]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe

In [10]:
df.dtypes

country                                  object
density                                 float64
abbreviation                             object
agricultural_land                       float64
land_area                               float64
armed_forces_size                       float64
birth_rate                              float64
calling_code                            float64
capital/major_city                       object
co2-emissions                           float64
cpi                                     float64
cpi_change                              float64
currency-code                            object
fertility_rate                          float64
forested_area                           float64
gasoline_price                          float64
gdp                                     float64
gross_primary_education_enrollment      float64
gross_tertiary_education_enrollment     float64
infant_mortality                        float64
largest_city                             object
life_expectancy                         float64
maternal_mortality_ratio                float64
minimum_wage                            float64
official_language                        object
out_of_pocket_health_expenditure        float64
physicians_per_thousand                 float64
population                              float64
population_labor_force_participation    float64
tax_revenue                             float64
total_tax_rate                          float64
unemployment_rate                       float64
urban_population                        float64
latitude                                float64
longitude                               float64
continent                                object
dtype: object

In [12]:
df_numericas = df.select_dtypes(include=['number'])
df_numericas

,density,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,co2-emissions,cpi,cpi_change,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,life_expectancy,maternal_mortality_ratio,minimum_wage,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,60.0,58.1,652.230,323.0,32.49,93.0,8.672,149.90,2.3,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,64.5,638.0,0.43,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953
1,105.0,43.1,28.748,9.0,11.78,355.0,4.536,119.05,1.4,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,78.5,15.0,1.12,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331
2,18.0,17.4,NaN,317.0,24.28,213.0,150.006,151.36,2.0,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,76.7,112.0,0.95,28.1,1.72,NaN,41.2,37.2,66.1,11.70,NaN,28.033886,1.659626
3,164.0,40.0,468.000,NaN,7.20,376.0,469.000,NaN,NaN,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,NaN,NaN,6.63,36.4,3.33,77.142,NaN,NaN,NaN,NaN,67.873,42.506285,1.521801
4,26.0,47.5,NaN,117.0,40.73,244.0,34.693,261.73,17.1,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,60.8,241.0,0.71,33.4,0.21,NaN,77.5,9.2,49.1,6.89,NaN,-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,32.0,24.5,912.050,343.0,17.88,58.0,164.175,NaN,254.9,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,72.1,125.0,0.01,45.8,1.92,NaN,59.7,NaN,73.3,8.80,NaN,6.423750,-66.589730
191,314.0,39.3,331.210,522.0,16.75,84.0,192.668,163.52,2.8,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,75.3,43.0,0.73,43.5,0.82,NaN,77.4,19.1,37.6,2.01,NaN,14.058324,108.277199
192,56.0,44.6,527.968,40.0,30.45,967.0,10.609,157.58,8.1,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,66.1,164.0,NaN,81.0,0.31,NaN,38.0,NaN,26.6,12.91,NaN,15.552727,48.516388
193,25.0,32.1,752.618,16.0,36.19,260.0,5.141,212.31,9.2,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,63.5,213.0,0.24,27.5,1.19,NaN,74.6,16.2,15.6,11.43,NaN,-13.133897,27.849332
194,38.0,41.9,390.757,51.0,30.68,263.0,10.983,105.51,0.9,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,61.2,458.0,NaN,25.8,0.21,NaN,83.1,20.7,31.6,4.95,NaN,-19.015438,29.154857

In [18]:
df_numericas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   density                               195 non-null    float64
 1   agricultural_land                     188 non-null    float64
 2   land_area                             165 non-null    float64
 3   armed_forces_size                     166 non-null    float64
 4   birth_rate                            189 non-null    float64
 5   calling_code                          194 non-null    float64
 6   co2-emissions                         183 non-null    float64
 7   cpi                                   175 non-null    float64
 8   cpi_change                            179 non-null    float64
 9   fertility_rate                        188 non-null    float64
 10  forested_area                         188 non-null    float64
 11  gasoline_price                        175 non-null    float64
 12  gdp                                   193 non-null    float64
 13  gross_primary_education_enrollment    188 non-null    float64
 14  gross_tertiary_education_enrollment   183 non-null    float64
 15  infant_mortality                      189 non-null    float64
 16  life_expectancy                       187 non-null    float64
 17  maternal_mortality_ratio              181 non-null    float64
 18  minimum_wage                          150 non-null    float64
 19  out_of_pocket_health_expenditure      188 non-null    float64
 20  physicians_per_thousand               188 non-null    float64
 21  population                            39 non-null     float64
 22  population_labor_force_participation  176 non-null    float64
 23  tax_revenue                           169 non-null    float64
 24  total_tax_rate                        183 non-null    float64
 25  unemployment_rate                     176 non-null    float64
 26  urban_population                      45 non-null     float64
 27  latitude                              194 non-null    float64
 28  longitude                             194 non-null    float64
dtypes: float64(29)
memory usage: 45.7 KB

In [22]:
df.describe(include = "object")

,country,abbreviation,capital/major_city,currency-code,largest_city,official_language,continent
count,195,188,192,180,189,190,194
unique,195,188,192,133,188,76,7
top,Afghanistan,AF,Kabul,EUR,S����,English,Africa
freq,1,1,1,23,2,31,53

In [24]:
df.describe().columns

Index(['density', 'agricultural_land', 'land_area', 'armed_forces_size',
       'birth_rate', 'calling_code', 'co2-emissions', 'cpi', 'cpi_change',
       'fertility_rate', 'forested_area', 'gasoline_price', 'gdp',
       'gross_primary_education_enrollment',
       'gross_tertiary_education_enrollment', 'infant_mortality',
       'life_expectancy', 'maternal_mortality_ratio', 'minimum_wage',
       'out_of_pocket_health_expenditure', 'physicians_per_thousand',
       'population', 'population_labor_force_participation', 'tax_revenue',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude',
       'longitude'],
      dtype='object')

Objetivo: Realizar un análisis de estadísticas descriptivas para comprender mejor la situación de los países en términos de diversos indicadores.


Calcula las siguientes estadísticas descriptivas para las variables numéricas:

- Media

- Mediana

- Desviación estándar

- Mínimo

- Máximo

In [26]:
df.describe().T[["mean", "std", "min", "50%", "max"]]

,mean,std,min,50%,max
density,1.345045e+02,1.573068e+02,1.265000e+00,8.300000e+01,8.470000e+02
agricultural_land,3.911755e+01,2.178305e+01,6.000000e-01,3.960000e+01,8.260000e+01
land_area,2.552127e+02,2.583850e+02,0.000000e+00,1.484600e+02,9.640000e+02
armed_forces_size,1.037831e+02,1.671580e+02,0.000000e+00,2.850000e+01,9.360000e+02
birth_rate,2.021497e+01,9.945774e+00,5.900000e+00,1.795000e+01,4.608000e+01
calling_code,3.605464e+02,3.232364e+02,1.000000e+00,2.555000e+02,1.876000e+03
co2-emissions,1.259155e+02,1.817949e+02,1.016000e+00,3.447700e+01,7.279730e+02
cpi,1.441936e+02,5.478400e+01,9.903000e+01,1.247400e+02,5.509300e+02
cpi_change,6.722346e+00,2.445041e+01,-4.300000e+00,2.300000e+00,2.549000e+02
fertility_rate,2.698138e+00,1.282267e+00,9.800000e-01,2.245000e+00,6.910000e+00
forested_area,3.201543e+01,2.379133e+01,0.000000e+00,3.200000e+01,9.830000e+01
gasoline_price,1.002457e+00,3.688585e-01,0.000000e+00,9.800000e-01,2.000000e+00
gdp,4.772959e+11,2.172173e+12,4.727146e+07,3.438723e+10,2.142770e+13
gross_primary_education_enrollment,1.024702e+02,1.315161e+01,2.340000e+01,1.025500e+02,1.425000e+02
gross_tertiary_education_enrollment,3.796339e+01,2.926102e+01,8.000000e-01,3.120000e+01,1.366000e+02
infant_mortality,2.133280e+01,1.954806e+01,1.400000e+00,1.400000e+01,8.450000e+01
life_expectancy,7.227968e+01,7.483661e+00,5.280000e+01,7.320000e+01,8.540000e+01
maternal_mortality_ratio,1.603923e+02,2.335020e+02,2.000000e+00,5.300000e+01,1.150000e+03
minimum_wage,2.194133e+00,2.970796e+00,1.000000e-02,1.045000e+00,1.359000e+01
out_of_pocket_health_expenditure,3.263723e+01,1.917270e+01,2.000000e-01,3.070000e+01,8.160000e+01
physicians_per_thousand,1.839840e+00,1.684261e+00,1.000000e-02,1.460000e+00,8.420000e+00
population,3.335427e+02,2.964675e+02,1.008400e+01,2.150560e+02,9.735600e+02
population_labor_force_participation,6.273807e+01,1.050291e+01,3.800000e+01,6.245000e+01,8.680000e+01
tax_revenue,1.657396e+01,6.961632e+00,0.000000e+00,1.630000e+01,3.720000e+01
total_tax_rate,4.082240e+01,2.055766e+01,8.000000e+00,3.720000e+01,2.196000e+02
unemployment_rate,6.886364e+00,5.079216e+00,9.000000e-02,5.360000e+00,2.818000e+01
urban_population,2.794610e+02,2.833224e+02,5.464000e+00,1.790390e+02,9.848120e+02
latitude,1.909235e+01,2.396178e+01,-4.090056e+01,1.727385e+01,6.496305e+01
longitude,2.023243e+01,6.671611e+01,-1.751982e+02,2.097265e+01,1.780650e+02

In [27]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,continent
0,Afghanistan,60.0,AF,58.1,652.230,323.0,32.49,93.0,Kabul,8.672,149.90,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,NaN,48.9,9.3,71.4,11.12,NaN,33.939110,67.709953,Asia
1,Albania,105.0,AL,43.1,28.748,9.0,11.78,355.0,Tirana,4.536,119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,NaN,55.7,18.6,36.6,12.33,NaN,41.153332,20.168331,Europe


- Identifica el país con la mayor densidad de población y el país con la menor población en el conjunto de datos.

- Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

- Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

- Calcula la correlación entre las variables de "fertility_rate" y "life_expectancy". Interpreta la relación entre estas dos variables. ¿Qué tipo de correlación hay? Explica la razón de esta relación

In [29]:
df[["country", "density"]].max()

country    Zimbabwe
density       847.0
dtype: object

In [30]:
df[["country", "density"]].min()

country    Afghanistan
density          1.265
dtype: object

In [33]:
# Calcula la tasa promedio de natalidad (birth_rate) para todos los países en el conjunto de datos.

df["birth_rate"].mean()

np.float64(20.214973544973546)

In [39]:
# Realiza un análisis de la mortalidad infantil (infant_mortality) y clasifica los países en tres categorías: baja, moderada y alta mortalidad infantil.

df[["country", "infant_mortality"]].describe().T

                  count       mean        std  min  25%   50%   75%   max
infant_mortality  189.0  21.332804  19.548058  1.4  6.0  14.0  32.7  84.5

In [ ]:
# Paso 1: Calcular los percentiles

Q1 = np.nanpercentile(df["infant_mortality"], 25)
Q2 = np.nanpercentile(df["infant_mortality"], 50)

In [44]:

# Paso 2: Crear la clasificación
df["mortalidad_categoria"] = pd.cut(df["infant_mortality"],
                                    bins=[-float("inf"), Q1, Q2, float("inf")],
                                    labels=["Baja", "Moderada", "Alta"])

# Mostrar resultado
df[["country", "infant_mortality", "mortalidad_categoria"]].head()

       country  infant_mortality mortalidad_categoria
0  Afghanistan              47.9                 Alta
1      Albania               7.8             Moderada
2      Algeria              20.1                 Alta
3      Andorra               2.7                 Baja
4       Angola              51.6                 Alta